/*normalize*/

/*root*/
:root {
    --backgroundcolor-primary: #fff;
    --color-accent: #2196f3;
    --primary-text-color: #212121;
    --accent-text-color: #fff;
    --font-family-primary: 'Roboto', sans-serif;
    --font-family-logo: 'Raleway', sans-serif;
    --button-color: #f5f4fA; 
    --primary-line-height: 1,17;
}
/* Base */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}
/*body*/
body {
    background-color: var(--backgroundcolor-primary);
    color: var(--primary-text-color);
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: 14px;
    line-height: var(--primary-line-height);
   }
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p {
    margin-top: 0;
   }
   .list {
       list-style: none;
       padding-left: 0;
       margin: 0;
   }
   .link {
       text-decoration: none;
       color: inherit;
   }
   img {
       display: block;
       max-width: 100%;
       height: auto;
   }
   address {
       font-style: normal;
   }

   h2 {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
   }
    /* .container {
    outline: 1px solid  tomato;
    }  */
   
   header {
    padding: 32px 0;
   }
   .portfolio {
    padding: 32px 0;
    border-bottom: 1px solid #ececec;
   }
   
   .page-header {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
   }
   .page-header-portfolio {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    
   }
     
   /*nav*/
   .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
   }
   .nav-container-portfolio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
     
   }
    /*logo*/
    .headerlink {
    display: flex;
    width: 145px;
    font-family: var(--font-family-logo);
    font-size: 26px;
    font-weight: 700;
    line-height: var(--primary-line-height);
    color: #000;
    text-decoration: none;
    }
    .headerlink-portfolio {
        display: flex;
        width: 145px;
        font-family: var(--font-family-logo);
        font-size: 26px;
        font-weight: 700;
        line-height: var(--primary-line-height);
        color: #000;
        text-decoration: none;
        }
    
    .logotype {
    display: flex;
    color: var(--color-accent);
    }
    .navlist {
    display: flex;
    list-style: none;
    margin-left: 93px;
    /* margin-top: 0; */
    padding: 0;
}


.navlist-item:not(:last-child) {
    margin-right: 50px;

}
   .nav-link {
    display: flex;
    font-family: var(--font-family-primary);
    font-size: 14px;
    font-weight: 500;
    line-height: var(--primary-line-height);
    color: var(--primary-text-color);
    text-decoration: none; 
   }
   .nav-link:active,
   .nav-link:hover,
   .nav-link:focus {
   color: var(--color-accent);
   
   }
   .header-contacts {
    display: flex;
   justify-content: center;
   align-items: center;
   margin-left: auto;
   }
   .header-contacts-portfolio {
    display: flex;
   justify-content: center;
   align-items: center;
   margin-left: auto;
   }
    
    
   
   
   .mail-link {
    display: block;
    margin-right: 50px;
    font-family: var(--font-family-primary);
    font-size: 14px;
    font-weight: 500;
    line-height: var(--primary-line-height);
    color: #757575;
    text-decoration: none;
   }
   .mail-link:hover,
   .mail-link:active,
   .mail-link:focus {
   color: var(--color-accent)
   }
   .tel-link {
    display: block;
    margin: 0;
    font-family: var(--font-family-primary);
    font-size: 14px;
    font-weight: 500;
    line-height: var(--primary-line-height);
    color: #757575;
    text-decoration: none;
   }
   .tel-link:hover,
   .tel-link:focus {
    color: var(--color-accent)
   }

/* Hero */
   .hero {
    height: 600px;
    background-color: #2f303a; 
    padding-top: 200px;
    padding-bottom: 200px;
   }
   .hero-section {

    width: 1200px;
    
    justify-content: center;
    align-items: center;
    
    background-color: #2f303a;
    text-align: center;
    margin: 0 auto;
     
   }
   .hero-title {
    margin: auto;
    width: 696px;
    margin-bottom: 30px;
    color: var(--accent-text-color);
        font-family: var(--font-family-primary);
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-align: center;

   }
   .hero-button {
    display: block;
    margin: 0 auto;
    border: 0;
    border-radius: 4px;
    background-color: var(--color-accent);
    color: var(--accent-text-color);
    font-family: var(--font-family-primary);
    font-style: normal; 
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    text-align: center;
    min-width: 200px;
    min-height: 50px;
    padding: 10px;
   }
   /*features*/   
  
   .featuÐ³es {

    padding-top: 94px;
    padding-bottom: 94px;
   }
   
   .features-list {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    list-style: none;
    margin: 0 auto;
    padding: 0 15px;
    margin-bottom: 94px;
   }
   .features-list h3 {
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
   }
   .featureslist-item {
    display: block;
    width: 270px;

   }
   .features-text {
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: 14px;
    color: #757575;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin: 0;
   }
   .servises {
   padding-bottom: 94px; 
   } 
   

   .servises-container{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width: 1200px;
   padding: 0 15px ;
   margin: 0 auto;
   background-color: var(--backgroundcolor-primary);
   }
   
   .features-title {
margin-bottom: 50px;
   
   }
   .servis-list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
   }
   .servislist-item {
    margin-right: 30px;
    margin-bottom: 0;
   }
   .servislist-item:nth-child(3n) {
    margin-right: 0px;
   }
   /* team */
   .team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #f5f4fa;
   }
   .team-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px; 
  padding-left: 15px;
      
   }
   .team-container h2 {
    margin-bottom: 50px;
   }
   .team-list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    width: 1170px;
    text-align: center;
    list-style: none;
    line-height: 1.19;
    letter-spacing: 0.03em;
    
   }
   .item-data {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--backgroundcolor-primary);
   }
   .item-data h3 {
    margin-top: 0px;
    margin-bottom: 10px;
   
   }
   
   .team-list p {
    margin: 0;
    color: #757575;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
   }
   .teamlist-item {
    margin-right: 30px;
   } 
   
   .teamlist-item:nth-child(4n) {
    margin-right: 0;
   }
   

 .team-list h3 {
    font-weight: 500;
    font-size: 16px;
}
footer {
background-color: #2f303a;
padding-top: 60px;
padding-bottom: 60px;
}
.footer-container {
    width: 1200px;
    
    padding-right: 15px;
   
    padding-left: 15px;
    margin: 0 auto;
    
    background-color: #2f303a;
}
.logotype-footer {
    display: inline-block;
    padding: 0;
    margin: 0;
color: var(--color-accent);
}
.footerlink {
    display: inline-block;
    font-family: var(--font-family-logo);
    margin-bottom: 20px;
        font-size: 26px;
        font-weight: 700;
        line-height: var(--primary-line-height);
        color: #000;
        text-decoration: none;
}
.footer-logo {
    display: inline-block;
    padding: 0;
    margin: 0;
    color: var(--accent-text-color);
    font-family: var(--font-family-logo);
    font-size: 26px;
    font-weight: 700;
    line-height: var(--primary-line-height);
}
.contacts {
    display: block;
    font-style: normal;
    line-height: 1.71;
    color: var(--accent-text-color);
}
.contacts a {
       text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}
.mail-link-footer {
display: block;
margin-bottom: 9px;
font-family: var(--font-family-primary);
font-size: 14px;
font-weight: 500;
line-height: var(--primary-line-height);
color: #757575;
text-decoration: none;
}

.mail-link-footer:hover,
.mail-link-footer:active,
.mail-link-footer:focus {
    color: var(--color-accent)
}
.tel-footer {
display: block;
font-family: var(--font-family-primary);
font-size: 14px;
font-weight: 500;
line-height: var(--primary-line-height);
color: #757575;
text-decoration: none;
}

.tel-footer:hover,
.tel-footer:focus {
    color: var(--color-accent)
}
/* Portfolio */
.works {
    padding-top: 94px;
    padding-bottom: 94px;
}
.work-examples {
display: flex;
flex-wrap: wrap;
justify-content: center;
width: 1200px;
padding-right: 15px;
padding-left: 15px;
margin: 0 auto;

}



.example-list {
    list-style: none;
    margin-bottom: 0;
}
.example-items {
width: 368px;
margin-right: 30px;
margin-bottom: 30px;
border: 1px solid;
border-color:  #ececec;
}
.example-items:nth-child(3n) {
    margin-right: 0;
    
}
.example-items:nth-last-child(-n+3) {
margin-bottom: 0;
}
.item-title {
padding: 20px 24px;   

}

.examples h3 {
font-weight: 700;    
font-size: 18px;  
line-height: 2;
letter-spacing: 0.06em;
margin-top: 0;
margin-bottom: 4px;
}
.contacts p {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 9px;
    margin-left: 0;
}
.example-items p {
margin: 0;

    color: #757575;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
.example-list {
    display: flex;
    flex-wrap: wrap;
    margin-top:  0;
    padding: 0;
   
}
/*button*/
/* button::-moz-focus-inner {


} */

.button-list  {
    display: flex;
    min-width: 611px;
    margin: 0 auto;
    margin-bottom: 50px;
    align-items: center;
    list-style: none;
    height: 38px;
    padding-left: 0;
}

.button-list>.button-item:not(:last-child) {
    margin-right: 10px;
    
}
.button-item {
border-color: #fff;
}
.navbutton {
    height: 38px;
    color: var(--primary-text-color);
    background-color: var(--button-color);
    cursor: pointer;
    border-radius: 4px;
    border: 0;
    font-family: var(--font-family-primary);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    margin: 0;
    padding: 6px 22px;

}

.navbutton:active {
    color: var(--accent-text-color);
    background-color: var(--color-accent);
}

.navbutton:hover {
    color: var(--accent-text-color);
    background-color: var(--color-accent);
}